@{
    ViewBag.Title = "About";
}
<h1>@ViewBag.Title.</h1>
<h2>@ViewBag.Message</h2>

<p>This app shows the area you want to locate on google maps</p>

<p>
 <strong>Please click on Locate on google maps to locate your destination.</strong>
</p>
