@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<section id="about">
    @using (Html.BeginForm()){
<article>
    <p>
        This application is used to manage all the
    </p>

    <p>
        activities and events conducted by DCCC to
    </p>
        support the campaign
    <p>
        .
    </p>
</article>
    }
    </section>