@model IEnumerable<ActivistTaskLocator.Models.Slider>

@{
    ViewBag.Title = "Welcome to DCCC activity control center.";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>          
        </div>

    </section>
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="~/Content/bjqs.css">
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro|Open+Sans:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/Content/demo.css">
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/bjqs-1.3.min.js"></script>
</head>
<body>
    <form id="form1">
        <div id="container">
            <div id="banner-fade">
                <ul class="bjqs">
                    @foreach (var item in Model)
                    {
                        <li>
                            <img src='@Html.DisplayFor(modelItem => item.src)' 
                                 title='@Html.DisplayFor(modelItem => item.title)' alt="">
                        </li>

                    }

                </ul>
            </div>
        </div>
        <script src="~/Scripts/jquery.secret-source.min.js"></script>
        <script>
            jQuery(function ($) {

                $('.secret-source').secretSource({
                    includeTag: false
                });

                $('#banner-fade').bjqs({
                    height: 320,
                    width: 620,
                    responsive: true
                });
            });
        </script>
    </form>
</body>
</html>



